                </div>
        </main>
        <div class="container-fluid">
            <footer
                class="d-flex flex-column flex-md-row justify-content-between align-items-center text-center text-md-start py-3 my-4 border-top">
                <div class="mb-3 mb-md-0">
                    <span class="text-body-secondary footerclass">© <em>2025 Sanjeeth. All rights reserved.</em></span>
                </div>

                <ul class="nav justify-content-center justify-content-md-end list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-body-secondary link-dark" href="https://www.linkedin.com/in/sanjeeth-/"
                            target="_blank" aria-label="Linkedin">
                            <i class="bi bi-linkedin" style="font-size:24px;"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-body-secondary link-dark" href="https://github.com/Ssanjeeth" target="_blank"
                            aria-label="Github">
                            <i class="bi bi-github" style="font-size:24px;"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-body-secondary link-dark" href="https://www.instagram.com/_sanjeeth_sanju_/"
                            target="_blank" aria-label="Instagram">
                            <i class="bi bi-instagram" style="font-size:24px;"></i>
                        </a>
                    </li>
                </ul>
            </footer>

        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    </body>

</html>