<%- include("partials/header.ejs") %>

<div class="container">
  <h1 class="homeh1">DAYRILOG</h1>
  <p class="homep">Log your thoughts that are worth sharing</p>
  <br />
  <br />
  <br />
  <form action="/create" method="GET">
    <button type="submit" class="button">Create✍️</button>
  </form>
</div>

<%- include("partials/footer.ejs") %>
