<%-include("partials/header.ejs")%>
    <div class="container">
        <h1 class="loginh1">OOPS! 😹</h1>

        <p class="loginp1">
            I'm learning Full Stack Development from Angela.
            Haven't reached the Database module yet, so please wait until then,
        </p>
        <br />
        <br />
        <p class="loginp2">
            LOGIN is loading...
        </p>
    </div>
<%-include("partials/footer.ejs")%>