<%-include("partials/header.ejs")%>
    <div class="container">
        <h1 class="loginh1">SORRY☹️</h1>

        <p class="loginp1">
            You haven't written any blog yet!
        </p>
    </div>
<%-include("partials/footer.ejs")%>