html, body {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
    width: 100%;
    flex-direction: column;
}
.loginh1{
    font-family: "Amatic SC", sans-serif;
    font-size: 5rem;
    
}
.loginp1{
    font-family: "Lexend Exa";
}
.loginp2{
    font-family: "Lexend Exa";
}
.homep{
    font-family: "Shadows Into Light";
    font-size: 20px;
}
.homeh1{
    font-family: "Gruppo";
    font-size: 6rem;
    
}
.button{
    font-family:"Lexend Exa";
    border: 0px;
    padding: 13px;
    border-radius: 40px;
    background-color: #778873;
    color: white;
    transition:0.5s;
    cursor: pointer

}
.button:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 5px black;
    
}
.headerclass{
    font-family: "Lexend Exa"!important;
}
.footerclass{
    font-family: "Lexend Exa"!important;
}
.blog-form{
    width:100%;
    max-width: 600px;
    margin: 30px auto;
}
.form{
    display:flex;
    flex-direction: column;
    margin-bottom:30px;
}
.form label{
    margin-bottom: 10px;
    font-family:"Lexend Exa";
    font-size: 20px;
}
.form input, .form textarea{
    padding: 6px;
    width:100%;
    font-size: 20px;
    font-family:"Pacifico";
    border: 2px solid #778873;
    transition: 0.3s;
}
textarea{
    height:120px;
    resize: vertical;
}
.form input:focus, .form textarea:focus{
    border-color: #FFC4C4;
    outline: none;
}
.blogbutton{
    display:flex;
    justify-content:center;
    gap: 15px;
    margin-top: 25px;
}
.blog {
    width:100%;
    margin: 30px 0px;
    padding:20px;
    text-align: left;
}
.blogh1{
    font-family: "Gruppo";
    text-align: center;
}
.blogh2{
    font-family:"Lexend Exa";
    color: #C9B59C;
}
.blogp{
    font-size: 20px;
    font-family:"Pacifico";
    color: #313647;
    white-space: pre-wrap;   
    word-wrap: break-word;   
    width: 90%;
    padding-left: 20px;
    line-height: 1.7;
}
.modalh{
    font-family: "Gruppo";
}
.modalp{
    font-family: "Lexend Exa";
}
.modal-buttons{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
}
.deletebtn{
    background-color: #FF8FB7 !important;
}
.cancelbtn{
    background-color: #C9B59C !important;
}
.modalbox{
  background: white;
  padding: 25px;
  border: 0.3px solid black;
  border-radius: 20px;
  text-align: center;
  width: 80%;
  max-width: 350px;
}
.modal-overlay{
    position:fixed;
    top:0px;
    left:0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display:flex;
    background: rgba(0,0,0,0.6);
}
